In [9]:
import pandas as pd
import plotly.express as px

In [10]:
df = pd.read_csv('bmw.csv')

In [11]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10781 entries, 0 to 10780
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10781 non-null  object
 1   year          10781 non-null  int64
 2   price         10781 non-null  int64
 3   transmission  10781 non-null  object
 4   mileage       10781 non-null  int64
 5   fuelType      10781 non-null  object
 6   tax           10781 non-null  int64
 7   mpg           10781 non-null  float64
 8   engineSize    10781 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 758.2+ KB

In [13]:
df['fuelType'].value_counts(normalize=True)

fuelType
Diesel      0.651795
Petrol      0.316946
Hybrid      0.027641
Other       0.003339
Electric    0.000278
Name: proportion, dtype: float64

In [16]:
# Configurando o gráfico
grafico = px.histogram(df, x='year') 

# Mostrando o gráfico por fim
grafico.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed